---
import Card from "./Card.astro";

interface Props {
  title: string;
  description: string;
  schedule: string;
  author: string;
  participants: number;
}

const { title, description, schedule, author, participants } = Astro.props;
---

<Card>
  <h2 class="title">{title}</h2>
  <p class="description">{description}</p>
  <p class="schedule">{schedule}</p>
  <p class="author">{author}</p>
  <p class="participants">{participants}</p>
</Card>

<style>
  .title {
    margin: 0 0 1rem;
  }

  .description {
    margin: 0;
  }

  .schedule {
    margin: 0;
  }

  .author {
    margin: 0;
  }

  .participants {
    margin: 0;
  }
</style>
